{% load i18n %}

{% block subject %}
{% trans "Redefinição de senha no Planify" %}
{% endblock subject %}

{% block text_body %}
{% trans "Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta no Planify." %}

{% trans "Por favor, acesse o link abaixo para escolher uma nova senha:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Seu nome de usuário, caso tenha esquecido:" %} {{ user.get_username }}

{% trans "Obrigado por usar nosso site!" %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta no Planify." %}</p>

<p>{% trans "Por favor, acesse o link abaixo para escolher uma nova senha:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Seu nome de usuário, caso tenha esquecido:" %} <strong>{{ user.get_username }}</strong></p>

<p>{% trans "Obrigado por usar nosso site!" %}</p>
{% endblock html_body %}
